@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif; */
/* font-family: "Dancing Script", cursive; */
/* btn-primary;#E6533C */
/* bg-#111111  */
/* linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.73)), */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.cont {
  width: 76%;
  margin: 0 auto;
}
:root {
  --btn-color: #e6533c;
  --bg-main: #111111;
  --gradient-bg: #35353541;
  --text-color: #ffffff;
  --big-font: 4rem;
  --md-font: 3rem;
  --smd-font: 2.5rem;
  --sm-font: 0.9rem;
  --xmd-font: 1.5rem;
  --btn-text: 1rem;
}

body {
  background: var(--bg-main);
  color: var(--text-color);
}
a {
  color: var(--text-color);
  font-size: var(--btn-text);
}
p {
  font-size: var(--sm-font);
  font-weight: 200;
  opacity: 50%;
  line-height: 1.5rem;
}
h1 {
  font-size: var(--big-font);
}
h3 {
  font-size: var(--md-font);
}

/* -------nav------- */
nav {
  background: #111111a2;
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0;
}

.menus li {
  display: inline-block;
  /* margin: 0.8rem; */
}
.menus li a {
  padding: 1rem 2rem;
  transition: ease 0.4s;
}
.menus li a:hover {
  background: var(--btn-color);
  box-shadow: 5px 10px 30px rgb(85 85 85/15%);
  border-radius: 5rem;
}
nav #menu_icon {
  display: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 2rem;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--btn-color);
}

/* --------header---------- */
.header {
  color: var(--text-color);
  background: linear-gradient(#41414111, #77777711, #111111);
  height: 100vh;
}
.hero1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin-bottom: 1.6rem;
}
.header_text span {
  font-family: "Dancing Script", cursive;
}
.header_img img {
  width: 85%;
  /* position: relative; */
}

.header_btns {
  margin: 1.6rem 0;
}
.header_btns button {
  padding: 1rem 1.5rem;
  margin-right: 1.5rem;
  border-radius: 6rem;
  background: var(--btn-color);
  border: none;
}
.header_btns button:hover {
  background: none;
  border: 2px solid #ffffff;
}
.header_img {
  position: relative;
}
.tag {
  background: #ffffff15;
  padding: 1rem;

  /* right: 11rem; */
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}
.tag1 {
  position: absolute;
  right: 0;
  top: 6rem;
}
.tag1 h4 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
.tag2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 18rem;
  bottom: 2.5rem;
  width: 10.7rem;
}
.tag2 h5 {
  font-weight: 900;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.tag small {
  opacity: 50%;
  font-weight: 300;
}
.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background: var(--btn-color);
  margin-right: 1rem;
}

/* ----habit---- */
.habit {
  text-align: center;
  padding: 1rem 0;
}
.habit h3 {
  margin-bottom: 0.5rem;
}
.habit_img_cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3rem 0;
  gap: 2rem;
}
.havit_card img {
  border-radius: 50%;
  margin-bottom: 1rem;
}
.havit_card h5 {
  font-size: var(--btn-text);
  margin-bottom: 0.6rem;
}
.havit_card p {
  line-height: 1.2rem;
}
/* --------extra mile------  */
.extra_mile {
  background: var(--gradient-bg);
  display: flex;
  justify-content: space-between;
  border-radius: 2.4em;
  padding: 2rem;
  margin-top: 2rem;
}
.extra_mile_img {
  width: 40%;
}
.extra_mile_img img {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
}
.extra_mile_txt {
  width: 40%;
  margin: 1.6rem;
}
.extra_mile_txt button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  margin-right: 1.5rem;
  border-radius: 6rem;
  background: var(--btn-color);
  border: none;
}
.extra_mile_txt button:hover {
  background: none;
  border: 2px solid #ffffff;
}

/* ---------------bmi-------------  */
.bmi {
  text-align: center;
  margin-top: 4rem;
}
.bmi_cal {
  margin-top: 2rem;
  background: #2727279a;
}

.bmi_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  margin-bottom: 3rem;
}

.calculator {
  width: 55%;
}
.calculator h4 {
  font-size: var(--xmd-font);
  margin-bottom: 1rem;
}
.grid_input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  margin: 1rem 0 0.8rem;
}
input {
  background: #373736;
  outline: none;
  border: none;
  padding: 0.8rem 1.7rem;
  border-radius: 0.6rem;
}
#activity_input {
  display: block;
  width: 100%;
}
input::placeholder {
  color: #9b9b9b;
}
.calculator button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  margin-right: 1.5rem;
  border-radius: 6rem;
  background: var(--btn-color);
  border: none;
}
.calculator button:hover {
  background: none;
  border: 2px solid #ffffff;
}

.bmi_chart {
  margin-bottom: 2rem;
}
.bmi_chart h4 {
  font-size: var(--xmd-font);
  margin-bottom: 1rem;
}
.bmi_chart table {
  margin-top: 2rem;
  border: 1px solid rgb(61, 61, 61);
}
td {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: 200;
  opacity: 50%;
}
.thead td {
  font-size: 1.2rem;
  opacity: 100%;
}

/* -----------team---------- */
.team {
  text-align: center;
}
.team_imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  row-gap: 1rem;
  background: var(--gradient-bg);
  padding: 1rem;
  border-radius: 1rem;
}
.team_img {
  position: relative;
}
.team_img img {
  width: 100%;
  height: 80%;
  border-radius: 1rem;
  opacity: 75%;
}
.team_img h5 {
  position: absolute;
  bottom: 7rem;
  left: 2rem;
  font-size: var(--xmd-font);
}
.team_img p {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  color: white;
  font-size: var(--sm-font);
  font-weight: bold;
  opacity: 100%;
}

/* ----------blog----------- */
.blogs {
  padding: 4rem 0;
  text-align: center;
}
.blog_area {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
}
.blog_card {
  border: 1px solid rgba(128, 128, 128, 0.384);
  border-radius: 1rem;
  padding: 1rem;
  text-align: left;
}
.blog_card img {
  width: 100%;
  height: 50%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.blog_card h4 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.blog_card button {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 6rem;
  background: var(--btn-color);
  border: none;
}
.blog_card button:hover {
  background: none;
  border: 2px solid #ffffff;
}

/* ------footer---------  */

footer {
  background: var(--gradient-bg);
  margin-top: 4rem;
}
.foot_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(75, 75, 75, 0.753);
}
.ft_left {
  width: 40%;
}
.foot_logo {
  font-size: 4rem;
  font-weight: 800;
}
.foot h4 {
  font-size: var(--xmd-font);
  margin-bottom: 1rem;
}
.foot li a {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  opacity: 50%;
}
.foot_bottom p {
  padding: 2rem 0;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.08rem;
}

/* ----------------------------------Responsive_------------------------------------ */
@media (max-width: 578px) {
  .cont {
    width: 90%;
  }
  .logo {
    font-size: 2.5rem;
  }
  .menus {
    display: none;
  }
  nav #menu_icon {
    display: block;
  }

  /* header  */
  .hero1 {
    flex-direction: column;
  }
  h1 {
    font-size: var(--md-font);
    margin-top: 2rem;
  }
  .header_btns {
    display: flex;
    justify-content: center;
  }
  .header_btns button {
    padding: 1rem 1.7rem;
    margin-right: 1rem;
  }

  .header_img img {
    width: 100%;
    margin-bottom: 5rem;
    /* position: relative; */
  }
  .tag1 {
    top: 4rem;
    right: 0;
  }
  .tag2 {
    left: 0;
    bottom: 13rem;
    /* width: 11rem; */
  }

  /* habit  */
  .habit {
    margin-top: 10rem;
  }
  .habit h3 {
    font-size: var(--smd-font);
    font-weight: 800;
  }
  .habit_img_cont {
    display: block;
  }

  .havit_card {
    margin: 3rem 0;
  }
  .havit_card img {
    width: 60%;
  }
  .havit_card h5 {
    font-size: var(--xmd-font);
  }
  .havit_card p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  .extra_mile {
    display: block;
    padding: 2rem;
    border-radius: 2rem;
  }
  .extra_mile_txt {
    margin: 0 auto;
    width: 90%;
  }
  .extra_mile_txt h3 {
    font-size: var(--smd-font);
    width: 80%;
    margin-bottom: 1rem;
  }
  .extra_mile_txt button {
    width: 100%;
  }
  .extra_mile_img {
    width: 100%;
    margin: 1rem auto;
    padding: 2rem 1rem 0;
  }
  .extra_mile_img img {
    border-radius: 2rem;
  }

  /* BMI  */
  .bmi {
    text-align: left;
  }
  .bmi h3 {
    font-size: var(--smd-font);
    margin-bottom: 1rem;
  }
  .bmi p {
    width: 80%;
  }
  .bmi_cont {
    display: block;
  }
  .calculator {
    width: 100%;
  }
  .grid_input {
    gap: 0.6rem;
    margin: 1rem 0 0.8rem;
  }
  .grid_input input {
    width: 90%;
    margin-bottom: 0.8rem;
  }

  /* team  */
  .team > p {
    padding: 0 3rem;
  }
  .team_imgs {
    display: block;
    margin-top: 1rem;
  }
  .team_img {
    margin: 1.5rem 0.5rem;
  }
  .team_img h5 {
    bottom: 4rem;
  }
  .team_img p {
    bottom: 2rem;
  }

  /* blog  */
  .blog_area {
    width: 80%;
    display: block;
    margin: 2rem auto;
  }
  .blog_card {
    margin-bottom: 1.5rem;
  }
  .blog_card button {
    width: 100%;
  }
  .blogs h3 {
    font-size: var(--smd-font);
    margin-top: 2rem;
  }

  /* footer  */
  .foot_top {
    display: block;
    padding-left: 1.5rem;
  }
  .foot_logo {
    font-size: var(--big-font);
  }
  .ft_left {
    width: 90%;
    margin-bottom: 2rem;
  }
  .foot h4 {
    font-size: var(--smd-font);
    margin-top: 2rem;
  }
  .foot li a {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 3rem;
  }
}
