@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif; */
/* font-family: "Dancing Script", cursive; */
/* btn-primary;#E6533C */
/* bg-#111111  */
/* linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.73)), */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.cont {
  width: 80%;
  margin: 0 auto;
}
:root {
  --btn-color: #e6533c;
  --bg-main: #111111;
  --gradient-bg: #77777711;
  --text-color: #ffffff;
  --big-font: 4rem;
  --md-font: 3rem;
  --sm-font: 0.9rem;
  --btn-text: 1rem;
}

body {
  background: var(--bg-main);
  color: var(--text-color);
}
a {
  color: var(--text-color);
  font-size: var(--btn-text);
}
p {
  font-size: var(--sm-font);
  font-weight: 200;
  opacity: 50%;
  line-height: 1.5rem;
}
h1 {
  font-size: var(--big-font);
}
h3 {
  font-size: var(--md-font);
}

/* -------nav------- */
nav {
  background: #111111a2;
  position: sticky;
  top: 10px;
  backdrop-filter: blur(10px);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.menus li {
  display: inline-block;
  /* margin: 0.8rem; */
}
.menus li a {
  padding: 1rem 2rem;
  transition: ease 0.4s;
}
.menus li a:hover {
  background: var(--btn-color);
  box-shadow: 5px 10px 30px rgb(85 85 85/15%);
  border-radius: 5rem;
}
nav #menu_icon {
  display: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 2rem;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--btn-color);
}

/* --------header---------- */
.header {
  color: var(--text-color);
  background: linear-gradient(#41414111, #77777711, #111111);
  height: 100vh;
}
.hero1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin-bottom: 1.6rem;
}
.header_text span {
  font-family: "Dancing Script", cursive;
}
.header_img img {
  width: 85%;
  /* position: relative; */
}

.header_btns {
  margin: 1.6rem 0;
}
.header_btns button {
  padding: 1rem 1.5rem;
  margin-right: 1.5rem;
  border-radius: 6rem;
  background: var(--btn-color);
  border: none;
}
.header_btns button:hover {
  background: none;
  border: 2px solid #ffffff;
}
.tag {
  background: #ffffff15;
  padding: 1rem;

  /* right: 11rem; */
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}
.tag1 {
  position: absolute;
  right: 8rem;
  top: 12rem;
}
.tag1 h4 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
.tag2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 26rem;
  bottom: 2rem;
}
.tag2 h5 {
  font-weight: 900;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.tag small {
  opacity: 50%;
  font-weight: 300;
}
.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background: var(--btn-color);
  margin-right: 1rem;
}
/* ----------------------------------Responsive_------------------------------------ */
@media (max-width: 578px) {
  .menus {
    display: none;
  }
  nav #menu_icon {
    display: block;
  }

  /* header  */
  .hero1 {
    flex-direction: column;
  }
  h1 {
    font-size: var(--md-font);
    margin-top: 2rem;
  }
  .tag1 {
    top: 37rem;
    right: 5rem;
  }
  .tag2 {
    left: 3rem;
    width: 11rem;
  }
}
